<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>IGTIFlix</title>
        <link rel="stylesheet" href="{% static 'css/menu.css' %}">
        <link rel="stylesheet" href="{% static 'css/genero.css' %}">
    </head>
    <body>
        {% include 'menu.html' %}
    </body>
    <main>
        <div class="container">
            <div class="divform">
                <form onsubmit="/genero" id="form-genero" method="POST">
                    {{ form }}
                    {% csrf_token %}
                    <input type="submit" value="Enviar" class="submit-button">
                </form>
            </div>
        </div>
    </main>
</html>